<a href="https://colab.research.google.com/github/SARAYMG/PARADIGMAS-DE-PROGRAMACI-N/blob/main/EJERCICIO4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#EJERCICIO DE LABORATORIO 4

El primer ejercicio es duplicar los valores de una lista, por lo que creamos en un primer inicio la función y despues creamos un ejemplo de uso donde:

*   La función duplicar_lista recibe una lista como entrada.
*   Utiliza la función map junto con una expresión lambda para aplicar la
    operación de multiplicar cada elemento por 2 a todos los elementos de la lista.
*   Retorna una nueva lista con los elementos duplicados.

In [1]:
# Duplicar los valores de los elementos de una lista
def duplicar_lista(lista):
    return list(map(lambda x: x*2, lista))

# Ejemplo de uso
lista_original = [1, 2, 3, 4, 5]
lista_duplicada = duplicar_lista(lista_original)
print("Lista original:", lista_original)
print("Lista duplicada:", lista_duplicada)

Lista original: [1, 2, 3, 4, 5]
Lista duplicada: [2, 4, 6, 8, 10]

En el segundo ejercicio es sumar dos listas al igual que el caso anterior generamos la función y despues creamos el ejemplo de uso donde:

*   La función sumar_listas recibe dos
    listas como entrada.
*   Utiliza la función map junto con una
    expresión lambda para sumar elemento por elemento de las dos listas.
*   Retorna una nueva lista con los
    elementos sumados.

In [2]:
# Sumar dos listas
def sumar_listas(lista1, lista2):
    return list(map(lambda x, y: x + y, lista1, lista2))

# Ejemplo de uso
lista1 = [1, 2, 3]
lista2 = [4, 5, 6]
resultado_suma = sumar_listas(lista1, lista2)
print("Lista 1:", lista1)
print("Lista 2:", lista2)
print("Resultado de la suma:", resultado_suma)

Lista 1: [1, 2, 3]
Lista 2: [4, 5, 6]
Resultado de la suma: [5, 7, 9]

En el tercer ejercicio es duplicar un numero si es par y tripicarlo si es impar al igual que en el caso anterior generamos la funcion y despues el ejemplo de uso donde:

*   La función duplicar_triplicar recibe
    un número como entrada.
*   Utiliza una expresión condicional en
    una expresión lambda para duplicar el número si es par (numero % 2 == 0) y triplicarlo si es impar.
*   Retorna el número duplicado o
    triplicado.
*   La función map aplica esta función a
    cada elemento de la lista de entrada.

In [3]:
# Duplicar un número si es par y triplicarlo si es impar
def duplicar_triplicar(numero):
    return numero * 2 if numero % 2 == 0 else numero * 3

# Ejemplo de uso
numeros = [1, 2, 3, 4, 5]
resultado = list(map(duplicar_triplicar, numeros))
print("Números originales:", numeros)
print("Resultado:", resultado)

Números originales: [1, 2, 3, 4, 5]
Resultado: [3, 4, 9, 8, 15]

En el cuarto ejercicio es encontrar las vocales de una cadena de texto al igual que en el caso anterior generamos la funcion y despues el ejemplo de uso donde:
*   La función encontrar_vocales recibe
    una cadena como entrada.
*   Define una cadena de vocales.
*   Utiliza la función filter junto con
    una expresión lambda para filtrar los caracteres de la cadena que sean vocales.
*   Retorna una lista con las vocales
    encontradas en la cadena.

In [4]:
# Encontrar las vocales de una cadena de texto
def encontrar_vocales(cadena):
    vocales = 'aeiouAEIOU'
    return list(filter(lambda x: x in vocales, cadena))

# Ejemplo de uso
cadena = "Hola, cómo estás?"
vocales_encontradas = encontrar_vocales(cadena)
print("Cadena original:", cadena)
print("Vocales encontradas:", vocales_encontradas)

Cadena original: Hola, cómo estás?
Vocales encontradas: ['o', 'a', 'o', 'e']

En el quinto ejercicio es encontrar aquellos valores de una lista que sean divisibles entre 3 al igual que en el caso anterior generamos la funcion y despues el ejemplo de uso donde:
*   La función divisibles_entre_3 recibe
    una lista de números como entrada.
*   Utiliza la función filter junto con
    una expresión lambda para filtrar los elementos de la lista que sean divisibles entre 3.
*   Retorna una lista con los números
    divisibles entre 3.

In [5]:
# Encontrar aquellos valores de una lista que sean divisibles entre 3
def divisibles_entre_3(lista):
    return list(filter(lambda x: x % 3 == 0, lista))

# Ejemplo de uso
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9]
divisibles = divisibles_entre_3(numeros)
print("Lista original:", numeros)
print("Divisibles entre 3:", divisibles)

Lista original: [1, 2, 3, 4, 5, 6, 7, 8, 9]
Divisibles entre 3: [3, 6, 9]

En el sexto ejercicio es crear una lista de listas a partir de una lista de entradas al igual que en el caso anterior generamos la funcion y despues el ejemplo de uso donde:
*   La función lista_de_listas recibe  
    una lista como entrada.
*   Utiliza la función map junto con la
    función list para convertir cada elemento de la lista de entrada en una lista individual.
*   Retorna una lista de listas donde
    cada sublista contiene un solo elemento de la lista de entrada.

In [6]:
# Crear una lista de listas a partir de una lista de entrada
def lista_de_listas(lista):
    return list(map(list, lista))

# Ejemplo de uso
entrada = ['sat', 'bat', 'cat', 'mat']
salida = lista_de_listas(entrada)
print("Entrada:", entrada)
print("Salida:", salida)

Entrada: ['sat', 'bat', 'cat', 'mat']
Salida: [['s', 'a', 't'], ['b', 'a', 't'], ['c', 'a', 't'], ['m', 'a', 't']]